:root {
	--main-color: #351c75;
	--secondary-color: #c87aeb;
	--third-color: #c9b6d3;
	--fourth-color: #acacac;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: .01rem;
}

.container {
	width: 60%;
	max-width: 960px;
	margin: 2rem auto 0 auto;
	line-height: 1.2;
}

h1,
h2 {
	font-weight: 700;
	font-size: 2.5rem;
}

a {
	text-decoration: none;
}

.btn {
	background-color: var(--main-color);
	color: #fff;
	padding: 15px 30px;
	border: none;
	outline: none;
	border-radius: 10px;
	letter-spacing: .03rem;
	font-size: 1.5rem;
	margin-right: .5rem;
}

.btn:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}

.answer-btn {
	min-width: 350px;
	text-align: left;
}

ul {
	margin-top: 1rem;
	list-style: none;
}

li {
	margin-bottom: .5rem;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	font-size: 1.2rem;
}

.high-score {
	color: var(--secondary-color);
}

.high-score:hover {
	cursor: pointer;
}

